body{
  background-color: black;
  overflow-x: hidden;

}


img{
  filter: drop-shadow(0px 0px 12px green);
  transition: all 2s linear;

}
img:hover{
  transform: rotateY(360deg);
 
}


body{
  background-image: url("https://66.media.tumblr.com/7ff308033a54530f85ee09ab903798c8/tumblr_ol4k41eNsM1vsjcxvo2_r2_540.gif ");
  background-repeat: no-repeat;
  background-size: cover;
 

}
html {
  scroll-behavior: smooth;
}
h1{
  filter: drop-shadow(0px 0px 3px green);
}
h2{
  filter: drop-shadow(0px 0px 3px green);

}

.maincard{
  position: relative;
  height: 250px;
  width: 350px;
 
}

.card{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: yellow;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.animate{
 flex-wrap: nowrap;
}

.slide{
  display: flex;
  overflow:hidden;
 
}
.three{
  animation: slider 3s linear infinite ;
  
}

@keyframes slider {
  from{
    transform: translate(0%);
  }
  to{
    transform: translate(-100%);
  }
  
}

.cardfront{
  position: absolute;
  height: 100%;
  width: 100%;
 backface-visibility: hidden;
  background-color: black;
  color:antiquewhite;

}
.cardback{
  position: absolute;
  height: 100%;
  width: 100%;
 backface-visibility: hidden;
  background-color: blue;
  color: crimson;
  transform: rotateY(180deg);
}

.card:hover{
  transform: rotateY(180deg);
}


#burg{
  display: none;
}
@media (width< 1200px) {
  .close{
    display: none;
  }

  #burg{
    display: inline-block;
  }

  .show{
    position:absolute;
    z-index: 1;
    top:2.5rem;
    left:0;
    background-color: black;
    width: 100%;
   }

   .show ul{
    display: flex;
    flex-direction: column;
    align-items: center;

   }
  
}